@using Dekorasyon.WebApp
@model Blog.Entities.Category
@{
    ViewBag.Title = "Kategori Ekle";
}
<link href="~/Content/Page.css" rel="stylesheet" />
<link href="~/Content/Errorstyle.css" rel="stylesheet" />

<div class="container text-lg">
    @using (Html.BeginForm())
    {
    <div class="row">
        <div class="col-lg-10">
            <img src="~/images/10x-featured-social-media-image-size.png" class="img-profile rounded-bottom" width="900" height="500" />
            @Html.HiddenFor(model => model.CategoryImageFilename)
            <br /><br />
            <input type="file" name="PostImage" id="PostImage" class="form-control" /><br />
            <span class="fa fa-sign">&nbsp;</span>
            <span><i>Lütfen jpg, jpeg ya da png formatı kullanın.</i></span>
            <br /><br />
        </div>
        <div class="col-12 col-md-offset-4">
            @Html.AntiForgeryToken()
            <div class="col-md-10">
                <h2 class=" text-center">@ViewBag.Title</h2>
                <hr />

                @Html.ValidationSummary(false)

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-12 col-md-offset-4">
                    <div class="form-group text-center">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">
                                <span class="fa fa-save"></span> Kaydet
                            </button>
                            <a href="/YonetimCategory/Index" class="btn btn-default">
                                <span class="fa fa-arrow-circle-left"></span>Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
