@model IEnumerable<Blog.Entities.About>
@{
    ViewBag.Title = "Hakkımızda Sayfası";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <h2 class="text-center">@ViewBag.Title</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <p>
                <a href="/YonetimAbout/Create" class="btn btn-primary">
                    <span class="fa fa-edit"> Yeni</span>
                </a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedName)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedName)
                        </td>
                        <td width="250">
                            <a href="/YonetimAbout/Edit/@item.Id" class="btn btn-lg" title="Düzenle">
                                <span class="fa fa-edit"></span>
                            </a>
                            <a href="/YonetimAbout/Details/@item.Id" class="btn btn-lg" title="Detaylar">
                                <span class="fa fa-search"></span>
                            </a>
                            <a href="/YonetimAbout/Delete/@item.Id" class="btn btn-lg" title="Kaldır">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

